.container {
  margin: 20px auto;
  max-width: 800px;
  padding: 20px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

th,
td {
  padding: 12px 16px;
  border-bottom: 1px solid #f0f0f0;
  text-align: left;
  color: #555;
}

th {
  background-color: #f8f9fa;
  font-weight: bold;
  color: #333;
}

tr:hover {
  background-color: #f5f5f5;
}

tbody tr:nth-child(even) {
  background-color: #fafafa;
}

tbody tr:last-child td {
  border-bottom: none;
}

@media screen and (max-width: 600px) {
  table {
    box-shadow: none;
    border: 1px solid #ddd;
  }

  th,
  td {
    padding: 10px;
  }

  th {
    background-color: #f2f2f2;
  }

  tbody tr:hover {
    background-color: transparent;
  }
}

.action-icons {
  display: flex;
  align-items: center;

}

.action-icons>* {
  margin-right: 20px;
  cursor: pointer;
}


.my-form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.my-form label {
  display: block;
  margin-bottom: 8px;
}

.my-form input {
  width: calc(100% - 20px);
  padding: 8px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.my-form button {
  width: 100%;
  padding: 12px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.my-form button:hover {
  background-color: #0056b3;
}


.sendmail {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s;
  float: right;
}

.sendmail:hover {
  cursor: pointer;
}